<div style="text-align: center;">
<form name="findAddressForm">
    <h3>Find Address</h3>
   <span>Enter Zip Code : <input type="text" pattern="^[0-9]{5,6}$" valid-numberonly ng-required="true" class="form-control" ng-model="address.zipcode" style="width: 20%; margin-left: 40%; margin-bottom: 1%">
    <button ng-disabled="findAddressForm.$invalid" class="btn btn-success" ng-click="getAddress(address)">GO</button></span>
    <br/><br/>
    <div style="text-align: left;" ng-if="dispAddress.city && dispAddress.state && dispAddress.country">
        <h4 style="padding-left: 44%;"><strong>City :</strong> {{dispAddress.city}}<br/>
            <strong>State :</strong>{{dispAddress.state}}<br/>
            <strong>Country :</strong>{{dispAddress.country}}</h4>
    </div>
    <div ng-if="!dispAddress.city || !dispAddress.country || !dispAddress.state">{{dispAddress}}</div>
</form></div>
