<form name="findAddressForm">
    <h3>Find Address</h3>
    Enter Zip Code : <input type="number" ng-required="true" class="form-control" ng-model="address.zipcode">
    <button ng-disabled="findAddressForm.$invalid" class="btn btn-primary" ng-click="getAddress(address)">GO</button>
    <div ng-if="dispAddress.city && dispAddress.state && dispAddress.country">City :{{dispAddress.city}},State :{{dispAddress.state}}
        Country :{{dispAddress.country}}
    </div>
    <div ng-if="!dispAddress.city || !dispAddress.country || !dispAddress.state">{{dispAddress}}</div>
</form>
